.card {
  display: flex;
  justify-content: center;

  align-items: center;
  text-align: center;
  max-width: 80vw;

  margin: 0 auto;
  padding: 0;
  position: relative;
  font-family: "Inter", "Arial", sans-serif;
}
.card__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;

  row-gap: 20px;
  overflow: hidden;
  background-color: black;
  list-style-type: none;
  width: 90%;
}

.card__image {
  object-fit: scale-down;
  grid-area: chart;
  max-width: 100%;
  max-height: 55vh;
  align-self: center;
  margin-top: 8px;
}

.card__caption {
  grid-area: cap;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #bfbfbf;
  padding: 0 60px;
  margin: 0;
}

.card__title {
  grid-area: title;
  margin: 0;
  padding: 20px auto;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  text-decoration: underline;
  color: #bfbfbf;
}

@media screen and (max-width: 1100px) {
  .card__title {
    padding: 0 150px;
  }
  .card__caption {
    padding: 0 30px;
  }

  .card__image {
    max-height: 50vh;
  }
}

@media screen and (max-width: 775px) {
  .card__title {
    padding: 0 80px;
  }

  .card__caption {
    padding: 0 15px;
  }
}

@media screen and (max-width: 500px) {
  .card__title {
    padding: 10px 60px 0;
  }
  .card__item {
    row-gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .card__title {
    padding: 10px 30px 0;
    font-size: 16px;
  }
 
}
