.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 25px auto;
  grid-template-areas:
    "title title title title"
    "cap chart chart chart";
  overflow: hidden;
  row-gap: 20px;
  border: solid 1px black;
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80vw;
}

.card__image {
  object-fit: scale-down;
  grid-area: chart;
  max-width: 100%;
  justify-self: center;
  align-self: center;
}

.card__caption {
  grid-area: cap;
  font-size: 14px;
  font-weight: 400px;
  color: white;
  padding: 0 15px;
}

.card__title {
  grid-area: title;
  margin: 0;

  font-size: 20px;
  font-weight: 600px;
  align-self: center;
  justify-self: center;
}

.card__list {
  margin: 0;
  display: flex;
  column-gap: 50px;
  overflow: hidden;
 
}

.card__prev{
  left:0;
}

.card__active{
  left:50%;
  transform: translateX(-50%);
}

.card__next{
  right:0;
}